global/s3/.terraform
stage/service/webserver-cluster/.terraform
stage/data-stores/mysql/.terraform
prod/service/webserver-cluster/.terraform
module/service/webserver-cluster/.terraform

global/s3/*tfstate*
stage/service/webserver-cluster/*tfstate*
stage/data-stores/mysql/*tfstate*
prod/service/webserver-cluster/*tfstate*
module/service/webserver-cluster/*tfstate*
stage/service/webserver-cluster/terraform.tfstate
